<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Halo: Combat Evolved</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>HaloCE</string>
	<key>CFBundleIconFile</key>
	<string>Community</string>
	<key>CFBundleIdentifier</key>
	<string>org.haloce.macos</string>
	<key>CFBundleName</key>
	<string>Halo: Combat Evolved</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.7</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to other players on your local network.</string>
</dict>
</plist>
